/* You can add global styles to this file, and also import other style files */
:root {
    --wing-orange: #F86200;
    --tile-blue: #38696F;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
